body{
    margin: 0;
    padding: 0;
}
.container{
    margin: 75px 100px 20px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #EFABFF;
}
.content_1,.content_2,.content_3,.content_4,.content_5,.content_6{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: auto;
    height: 190px;
    background: rgb(237, 162, 242);
    box-shadow: 12px 12px 2px 1px rgb(224, 137, 248);
}
.box_content{
    margin: auto;
    position: relative;
    width: 75px;
    height: 75px;
    justify-content: center;
    border-radius: 50%;
    border: solid 5px black;
    box-shadow: 0 0 0 0 #000;
    animation: styleOpacity 1.3s infinite ease-out;
}
@keyframes styleOpacity {
    to{
        box-shadow: 0 0 0 18px rgba(0,0,0,0.01);
        width: 25px;
        height: 25px;
    }    
}
.box_content_1{
    position: relative;
    margin: auto;
    width: 25px;
    height: 25px;
    background: black;
    /* justify-content: center; */
    animation: box3 1s infinite ease-out;
}
.box_content_1_2{
    position: relative;
    margin: auto;
    width: 25px;
    height: 25px;
    background: black;
    /* justify-content: center; */
    animation: box3 2s infinite ease-in;
}
.box_content_1_3{
    position: relative;
    margin: auto;
    width: 25px;
    height: 25px;
    background: black;
    /* justify-content: center; */
    animation: box3 3s infinite ease-in;
}

@keyframes box3 {
    0%{
        background: transparent;
        border: solid 1px black;
        animation-duration: 0.5s;
    }
    100%{
        background: black;
        border: solid 1px black;
        animation-duration: 1s;
    }   
}
h3{
    align-items: end;
    font-size: 18px;
    background: rgb(224, 137, 248);
    border-radius: 20px;
    animation: h3Animation 2s infinite ease-out;

}
.box{
    z-index: 1;
    width: 75px;
    height: 50px;
    border-left: double 2px black;
    background:rgb(237, 162, 242);
}

@keyframes h3Animation{
    to{
        transform: translateX(0px);
        opacity: 100%;
    }
    from{
        transform: translateX(150px);
        opacity: 50%;
    }
}
.box_round{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 2px black;
    border-top: dashed 5px black;
    background: transparent;
    animation: rotationBox 2s infinite linear;
}
@keyframes rotationBox{
    0%{
        transform: translateX(0px) rotate(0deg);
    }
    50%{
        transform: translateX(100px) rotate(180deg)translateY(50px);
    }
    100%{
        transform: translateX(200px) rotate(360deg);
    }
}
h1{
    position: relative;
    align-items: center;
    
}
h1 span{
    position: relative;
}
h1 span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(237, 162, 242);
    border-left: solid 2px black;
    animation: typing 1.5s steps(10) infinite;
}
@keyframes typing {
    100%{
        left: 100%;
        margin: 0px -20px 0 20px;
    }
}
@keyframes h1Animation{
    to{
        transform: translateY(0px) translateX(0px);
        opacity: 1;
    }
    from{
        transform: translateY(-100px) translateX(200px);
        opacity: 0;
    }
}
.box_circle_1,.box_circle_2{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.box_circle_1{
    border-left: solid 2px black;
    animation: animationCircle 2s infinite;
}
.box_circle_2{
    border-right: solid 2px black;
    animation:animationCircle_inverse 2s infinite;
    
}
@keyframes animationCircle{
    0%{
        transform:translateX(0);
    }
    25%{
        transform: translateX(50px);
    }
    50%{
        transform: translateX(75px);
    }
    75%{
        transform: translateX(100px);
    }
}
@keyframes animationCircle_inverse{
    0%{
        transform:translateX(0);
    }
    25%{
        transform: translateX(-50px);
    }
    50%{
        transform: translateX(-75px);
    }
    75%{
        transform: translateX(-100px);
    }
}
@media only screen and (max-width:600px){
    body{
        margin: 0;
        padding: 0;
    }
   .container{
       display: flex;
       flex-direction: column;
       margin: 10px 20px 10px 20px;
       width: auto;
       height: auto;
    }
    .content_1,.content_2,.content_4{
       margin: 20px 10px 20px 10px;
       width: auto;
    }
    .content_5{
        margin: 20px 10px 20px 10px;
        padding: 10px 20px 10px 40px;
        align-items: center;
        justify-content: start;
        width: auto;
    }
    .content_3{
        margin: 20px 10px 20px 0;
        padding: 10px 20px 10px 0;
        align-items: center;
        justify-content: start;
        width: auto;
    }
    h3{
        align-items: center;
        font-size: 18px;
        background: rgb(224, 137, 248);
    }
    h1{
        position: relative;
        align-items: center;
        font-size: 20px;
        
    }
    .content_6{
        margin: 20px 10px 20px 10px;
        padding: 10px 20px 10px 20px;
        align-items: center;
        justify-content: center;
        width: auto;
    }
}
@media only screen and (min-width:600px){
   .container{
       display: flex;
       flex-direction: column;
       width: auto;
       height: auto;
    }
    .content_1,.content_2,.content_3,.content_4,.content_5{
        margin: 20px 10px 20px 10px;
        padding: 10px 20px 10px 20px;
        align-items: center;
        justify-content: start;
        width: auto;
     }
    .content_6{
        margin: 20px 10px 20px 10px;
        padding: 10px 20px 10px 20px;
        align-items: center;
        justify-content: center;
        width: auto;
    }
}
@media only screen and (min-width:768px){
    .container{
        display: flex;
        flex-direction: column;
        width: auto;
     }
     .content_1,.content_2,.content_3,.content_4{
        margin: 20px 10px 20px 10px;
        padding: 10px 20px 10px 20px;
        justify-content: center;
        width: auto;
     }
     .content_5,.content_6{
        margin: 20px 50px 20px 50px;
        padding: 10px 20px 10px 20px;
        align-items: center;
        justify-content: center;
        height: 400px;
    }

}
@media only screen and (min-width:992px){
    .container{
        display: flex;
        flex-direction: column;
        width: auto;
     }
     .content_1,.content_2{
        margin: 20px 10px 20px 10px;
        padding: 10px 20px 10px 20px;
        justify-content: center;
        width: auto;
     }
     .content_3,.content_4{
        padding: 10px 20px 10px 20px;
        align-items: start;
     }
     .content_5,.content_6{
        margin: 20px 50px 20px 50px;
        padding: 10px 20px 10px 20px;
        align-items: center;
        justify-content: center;
        height: 400px;
    }

}
@media only screen and (min-width:1200px){
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        width: auto;
        margin: auto;
        justify-content: center;
     }
     .content_1,.content_2{
        margin: 20px 50px 20px 50px;
        padding: 10px 20px 10px 20px;
        align-items: center;
        justify-content: start;
        width: auto;
        height: 400px;
     }
     .content_4{
        margin: 20px 50px 20px 50px;
        padding: 10px 20px 10px 20px;
        align-items: center;
        justify-content: center;
        width: auto;
        height: 400px;
     }
     .content_3{
        margin: 20px 50px 20px 50px;
        align-items: center;
        justify-content: center;
        width: auto;
        height: 400px;
     }
     h3{
        align-items: end;
        font-size: 30px;
        background: rgb(224, 137, 248);
    }
    .box{
        z-index: 1;
        width: 200px;
        align-content: center;
        height: 50px;
        border-left: double 2px black;
        background:rgb(237, 162, 242);
    }
     .content_5,.content_6{
        margin: 20px 50px 20px 50px;
        padding: 10px 20px 10px 20px;
        align-items: center;
        justify-content: center;
        height: 400px;
    }

}