@media only screen and (max-width:100px) {
    *{
        display: none;
    }
}
.box_carre{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 20%;
    animation: animate_1 2s infinite;
}
@keyframes animate_1{
    0%{
        transform: translateX(0px); width: 100px; height: 100px;
    }
    25%{
        transform: translateX(100px); width: 50px; height: 50px;
    }
    50%{
        transform: translateX(0px); width: 100px; height: 100px;
    }
    75%{
        transform: translateX(-100px); width: 50px; height: 50px;
    }
    100%{
        transform: translateX(0px); width: 100px; height: 100px;
    }
    
}
.box_1,.box_2{
    width: 40px;
    height: 200px;
    border-radius: 20px;
}
.box_1{
    animation: animate1 4s infinite ease;
}
.box_2{
    animation: animate2 4s infinite ease;
}
@keyframes animate1 {
    0%{
        transform: rotate(0);
    }
    50%{
        transform: rotate(90deg);
    }
    100%{
        transform: rotate(0);
    }
    
}
@keyframes animate2 {
    0%{
        transform: rotate(0);
    }
    50%{
        transform: rotate(-90deg);
    }
    100%{
        transform: rotate(0);
    }
    
}

.circle{
    width: 250px;
    height: 250px;
    border: solid 2px black;
    border-radius: 50%;
}
.texteh1center{
    margin: 0 20px 0 20px;
    position: relative;
    top: 90px;
    width: 150px;
    animation: animate_rotation 4s infinite ease-out;
}
.ligne1{
    position: absolute;
    top: 450px;
    width: 5px;
    height: 20px;
    background: black;
}
.ligne1{
    animation: rotation_ligne_1 4s infinite ease;
}
@keyframes animate_rotation {
    0%{
        transform: rotate(0);
    }
    50%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0);
    }
}
@keyframes rotation_ligne_1 {
    0%{
        transform: rotate(0);
        opacity: 10%;
    }
    50%{
        transform: rotate(90deg);
        height: 200px;
        z-index: 99;
        top: 400px;
        position: absolute;
        opacity: 100%;
    }
    100%{
        transform: rotate(0);
        opacity: 10%;
    }
}
.circle_1,.circle_2{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.ligne_entre_circle{
    width: 100px;
    height: 20px;
    animation: animate_deux_circle 2s infinite ease;
}
@keyframes animate_deux_circle {
    0%{
        width: 0px;
    }
    50%{
        width: 50px;
    }
    100%{
        width: 0px;
    }
}
.box_content{
    margin: auto;
    position: absolute;
    width: 75px;
    height: 75px;
    justify-content: center;
    border-radius: 50%;
    border: solid 5px black;
    box-shadow: 0 0 0 0 #000;
    animation: styleOpacity 1.3s infinite ease-out;
}
@keyframes styleOpacity {
    to{
        box-shadow: 0 0 0 18px rgba(0,0,0,0.01);
        width: 25px;
        height: 25px;
    }    
}
.box_content_1{
    position: relative;
    margin: auto;
    width: 25px;
    height: 25px;
    background: black;
    /* justify-content: center; */
    animation: box3 1s infinite ease-out;
}
.box_content_1_2{
    position: relative;
    margin: auto;
    width: 25px;
    height: 25px;
    background: black;
    /* justify-content: center; */
    animation: box3 2s infinite ease-in;
}
.box_content_1_3{
    position: relative;
    margin: auto;
    width: 25px;
    height: 25px;
    background: black;
    /* justify-content: center; */
    animation: box3 3s infinite ease-in;
}

@keyframes box3 {
    0%{
        background: transparent;
        border: solid 1px black;
        animation-duration: 0.5s;
    }
    100%{
        background: black;
        border: solid 1px black;
        animation-duration: 1s;
    }   
}

h3{
    align-items: end;
    font-size: 18px;
    border-radius: 20px;
    animation: h3Animation 2s infinite ease-out;

}
.box{
    z-index: 1;
    width: 75px;
    height: 50px;
    border-left: double 2px black;
}

@keyframes h3Animation{
    to{
        transform: translateX(0px);
        opacity: 100%;
    }
    from{
        transform: translateX(150px);
        opacity: 50%;
    }
}

h1{
    position: relative;
    align-items: center;
    
}
h1 span{
    position: relative;
}
h1 span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #0dcaf0;
    border-left: solid 2px black;
    animation: typing 1.5s steps(10) infinite;
}
@keyframes typing {
    100%{
        left: 100%;
        margin: 0px -20px 0 20px;
    }
}
@keyframes h1Animation{
    to{
        transform: translateY(0px) translateX(0px);
        opacity: 1;
    }
    from{
        transform: translateY(-100px) translateX(200px);
        opacity: 0;
    }
}
.box_round{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 2px #dc3545;
    border-top: dashed 5px #dc3545;
    background: transparent;
    animation: rotationBox 2s infinite linear;
}
@keyframes rotationBox{
    0%{
        transform: translateX(0px) rotate(0deg);
    }
    50%{
        transform: translateX(100px) rotate(180deg)translateY(50px);
    }
    100%{
        transform: translateX(200px) rotate(360deg);
    }
}
.box_circle_1,.box_circle_2{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.box_circle_1{
    border-left: solid 2px black;
    animation: animationCircle 2s infinite both;
}
.box_circle_2{
    border-right: solid 2px black;
    animation:animationCircle_inverse 2s infinite both;
    
}
@keyframes animationCircle{
    0%{
        transform:translateX(0);
    }
    25%{
        transform: translateX(50px);
    }
    50%{
        transform: translateX(75px);
    }
    75%{
        transform: translateX(100px);
    }
}
@keyframes animationCircle_inverse{
    0%{
        transform:translateX(0);
    }
    25%{
        transform: translateX(-50px);
    }
    50%{
        transform: translateX(-75px);
    }
    75%{
        transform: translateX(-100px);
    }
}
.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 100px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.waviy {
    position: relative;
}
.waviy span {
    position: relative;
    display: inline-block;
    font-size: 40px;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
}
@keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
}
.loader {
    background-color: #ecf0f1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: 100000;
}
.loader__element {
    border-radius: 100%;
    border: 2px solid ;
    margin: 10px;
}

.loader__element:nth-child(1) {
    animation: preloader .6s ease-in-out alternate infinite;
}
.loader__element:nth-child(2) {
    animation: preloader .6s ease-in-out alternate .2s infinite;
}
  
.loader__element:nth-child(3) {
    animation: preloader .6s ease-in-out alternate .4s infinite;
}
@keyframes preloader {
    100% { transform: scale(2); }
}  

.ligne_:nth-child(1){
    animation: animate_ligne .6s ease-in-out alternate infinite;
}
.ligne_:nth-child(2){
    animation: animate_ligne .6s ease-in-out alternate .2s infinite;
}
.ligne_:nth-child(3){
    animation: animate_ligne .6s ease-in-out alternate .4s infinite;
}
.ligne_{
    width: 10px;
    height: 50px;
    
}
.ligne_droite{
    position: absolute;
    gap: 10px;
}

@keyframes animate_ligne {
    0%{
        height: 100px;
    }
    100%{
        height: 0;
    }
}